/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Pp]ackages/
/[Aa]ssets/AssetStoreTools*
/[Pp]rojectSettings/ProjectVersion.txt
/[Uu]serSettings/
*.log
*.suo
*.tmp
*.userprefs
*.unityproj
*.DS_Store
.vs/
.vscode/